/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-blog-listing {
	border: 1px dotted #f00;
}

.back-blog-post-listing {
	background-color: white !important;
	padding: 10px 20px !important;
	margin-bottom: 20px;
	margin-right: 10px;
}

.back-blog-post-listing:last-child {
	margin-bottom: 0px;
	margin-right: 0px;
}

.blb-block-content .col-12 {
	width: 100% !important;
}

.blb-block-content .col-6 {
	width: 50% !important;
	margin-right: 0 !important;
}

.blb-block-content .col-4 {
	width: 33.33% !important;
	margin-right: 0 !important;
}

.blb-block-content .col-3 {
	width: 25% !important;
	margin-right: 0 !important;
}

.text-center {
	text-align: center;
}

.blb-right {
	float: right;
}

.blb-num-pagination {
	text-align: center;
}