/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-blog-listing {
	border: 1px dotted #f00;
}
.block-content{
	display: flex;
 }
.back-blog-post-listing {
	margin: 0 20px!important;
    background-color: white!important;
    padding: 10px 20px!important;
    width: 33.33%;
}
.text-center{text-align: center;}