/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-blog-listing {
	border: 1px dotted #f00;
}

.back-blog-post-listing {
	background-color: white !important;
	padding: 10px 20px !important;
	margin-bottom: 20px;
	margin-right: 10px;
}
.back-blog-post-listing:last-child {
	margin-bottom: 0px;
	margin-right: 0px;
}
.text-center {
	text-align: center;
}
