/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.blog-post-listing {
	background-color: white !important;
	padding: 10px 20px !important;
	margin-bottom: 20px;
	margin-right: 10px;
}
.blog-post-listing:last-child {
	margin-bottom: 0px;
	margin-right: 0px;
}
.block-content .row {
	display: flex;
	flex-wrap: wrap;
}
.col-12 {
	width: 100% !important;
}
.col-6 {
	width: 48% !important;
}
.col-4 {
	width: 32% !important;
}
.col-3 {
	width: 24% !important;
}
.text-center {
	text-align: center;
}
